{
  "printWidth": 110,
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "tailwindFunctions": ["cn", "cva", "clsx"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
